.basketItem {
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.basketItem__image {
  margin: 5px;
  object-fit: contain;
  max-width: 90%;
  max-height: 150px;
}

.basketItem__left {
  width: 20%;
  height: auto;
  justify-content: space-around;
}

.basketItem__right {
  width: 80%;
  text-align: left;
  margin-left: 5px;
}

.basketItem__info {
  margin: 5px 0px;
}

.basketItem__button {
  background: #f0c14b;
  color: black;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 39c7e31 #846a29;
  margin-bottom: 5px;
}
