.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
}

.checkout__right {
  
}

.checkout__title {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  margin-right: 10px;
}



.checkout__subtotalInfo {
  text-align: left;
  width: 100%;
}
