.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
}

.checkout__right {
  width: 410px;
  background-color: rgb(234, 237, 237);
  padding: 18px;
  height: min-content;
}

.checkout__title {
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  margin-right: 10px;
}

.checkout__proceedButton {
  width: 400px;
  background: #f0c14b;
  margin-top: 10px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid lightgrey;
}
